<html>
  <head>
    <title>Trying out generating</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/rules.js"></script>
    <link href="/static/primer.css" media="all" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="columns">

        <div class="one-fifth column">
          <nav class="menu">
          <a class="menu-item" href="/">Index</a>
          <a class="menu-item selected" href="/new">New notifier</a>
          </nav>
        </div>

        <div class="four-fifths column">
          <form action="/create" id="notifierForm">
            <dl class="form">
              <dt><label>Notification Type</label></dt>
              <dd>
                <select name="notification_type">
                  <option value="slack">slack</option>
                  <option value="email">email</option>
                </select>
              </dd>
            </dl>
            <dl class="form">
              <dt><label>Class</label></dt>
              <dd>
                {{ if gt .classesCount 0 }}
                  <select name="class">
                    {{ range $class := .classes }}
                      <option value="{{$class}}">{{$class}}</option>
                    {{ end }}
                  </select>
                {{ else }}
                  <textarea rows="1" cols="50" name="class"></textarea>
                {{ end }}
              </dd>
            </dl>
            <dl class="form">
              <dt><label>Template</label></dt>
              <dd>
                <textarea rows="4" cols="50" name="template" id="template" style="width: 200px;"></textarea>
                <textarea rows="4" cols="50" name="template" id="templatePreview" style="width: 200px;"></textarea>
              </dd>
            </dl>
            <dl class="form">
              <dt><label>Rules Output (Debugging purposes)</label></dt>
              <dd>
                <textarea rows="4" cols="50" name="rules" id="rules"></textarea>
              </dd>
            </dl>

            <div id="rulesContainer">
              <dl class="form">
              <dt><label>Rules</label></dt>
              <dd>
                <div class="ruleSet">
                    <select name="key">
                      {{ range $key := .keys }}
                        <option value="{{$key}}">{{$key}}</option>
                      {{ end }}
                    </select>
                    <select name="type">
                      <option value="string">string</option>
                      <option value="boolean">boolean</option>
                      <option value="number">number</option>
                    </select>
                    <select name="setting">
                      <option selected value=""></option>
                      <option value="eq">eq</option>
                      <option value="gt">gt</option>
                      <option value="lt">lt</option>
                    </select>
                    <input type="text" name="value" class="input">
                  </div>
                </div>
              </dd>
            </dl>
            <input type="button" name="addRule" value="Add rule" class="btn">
            <input type="button" name="generateRules" value="Generate Rules" class="btn">
            <br>
            <br>
            <input type="button" name="preview" value="Preview Template" class="btn">
            <br>
            <br>

            <input type="submit" value="Create notifier" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
